In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('datasets/ACS_14_5YR_S1101_2.csv')

In [4]:
df.head()

,GEO.id,GEO.display-label,TotalHH,AvgHHSize,NonFamilyHHSize,HHChildren18,TotalHHNonFamily,HHOwnerOcc,HHRentOcc,GEO.id2
0,1400000US11001000100,"Census Tract 1, District of Columbia, District...",2446,2.12,1.32,505,1239,53.5,46.5,11001000100
1,1400000US11001000201,"Census Tract 2.01, District of Columbia, Distr...",4,2.75,-,0,0,100,0,11001000201
2,1400000US11001000202,"Census Tract 2.02, District of Columbia, Distr...",1672,2.15,1.78,214,1129,65.8,34.2,11001000202
3,1400000US11001000300,"Census Tract 3, District of Columbia, District...",2563,2.37,1.99,455,1556,52.9,47.1,11001000300
4,1400000US11001000400,"Census Tract 4, District of Columbia, District...",597,2.49,1.52,129,234,72.9,27.1,11001000400